
* {
    text-decoration: none;
  }



.nav-bar{
    position: relative; /* Stick the navigation bar */
    top: 0; /* Align it to the top of the viewport */
    width: 90%; /* Make it span the full width */
    z-index: 1000; /* Ensure it appears above other content */
    /* Remaining styles */
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    max-width: 1700px; /* Set a maximum width to prevent overflowing */
    margin-left: auto; /* Align to the center horizontally */
    margin-right: auto; /* Align to the center horizontally */
}

.image-container {
    position: relative;
    margin-top: 0px; /* Adjust margin to create space below the navigation bar */
    margin-left: auto; /* Align to the center horizontally */
    margin-right: auto; /* Align to the center horizontally */
    width: 80%; /* Set width to a percentage for responsiveness */
    max-width: 1200px; /* Set a maximum width to prevent overflowing */
    padding-right: 40px; /* Shift the image towards the left */
    /* Remaining styles */
    height: 1000px;
    border-radius: 10px;
    opacity: 100%;
    text-align: center; /* Center the content inside the container */
    display: flex; /* Use flexbox to center vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Arrange content vertically */
}

.services-container{
    position: relative;
    margin-top: 80px; /* Adjust margin to create space below the navigation bar */
    margin-left: auto; /* Align to the center horizontally */
    margin-right: auto; /* Align to the center horizontally */
    width: 80%; /* Set width to a percentage for responsiveness */
    max-width: 1200px; /* Set a maximum width to prevent overflowing */
    padding-right: 40px; /* Shift the image towards the left */
    /* Remaining styles */
    height: 800px;
    border-radius: 10px;
    opacity: 80%;
    text-align: center; /* Center the content inside the container */
    display: flex; /* Use flexbox to center vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Arrange content vertically */
}

ul li:hover{
    color: rgb(255, 136, 0);
    text-decoration: underline;
    text-decoration-thickness: 5px;
    transition: 1000ms;
}

.nav-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    text-decoration: underline;
    text-decoration-color: aliceblue;
    position: relative;
}


.info-bg {
    width: 2000px;
    height: 1000px;
    margin-left: 42px;
    border-radius: 10px;
    opacity: 100%;
}

.service-bg{
    width: 2000px;
    height: 1000px;
    margin-left: 42px;
    border-radius: 10px;
    opacity: 40%;
}

.info-bg-header {
    position: absolute;
    top: 30%; /* Adjust the top position */
    transform: translateX(-50%);
    color: #db8009;
    padding: 10px 20px;
    font-size: 33px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-duration: .4s;
    animation-name: float-in-bottom-top;
}    

@keyframes float-in-bottom-top{

    from{
        margin-top: 50%;
    }
    to{
        margin-top: 0%;
    }

}

.info-bg-name{
    position: absolute;
    top: 40%; /* Adjust the top position */
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 65px;
    text-align: left;
    animation-duration: .6s;
    animation-name: float-in-bottom-top;
    color: rgb(143, 199, 248);
}

.service-bg-text{
    position: absolute; /* Position the text absolutely relative to the container */
    top: 5%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 65px;
    text-align: left;
    margin-left: -300px;
}

.info-bg-info{
    position: absolute;
    top: 60%; /* Adjust the top position */
    left: 28%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 30px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-duration: .8s;
    animation-name: float-in-bottom-top;
    color: rgb(0, 255, 255);
}


.LM-button{
    position: absolute;
    top: 90%; /* Adjust the top position */
    left: 10%; /* Adjust the left position */
    transform: translate(-50%, -50%);
    color: aqua;
    background-color: rgb(0, 4, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    animation-duration: .6s;
    animation-name: fade-in-left;
}

@keyframes fade-in-left{
    from{
        margin-left: 50%;
    }
    to{
        margin-left: 0%;
    }
}

.LM-button:hover{
    background-position: left bottom;
    background:rgb(19, 138, 207) ;
    color: aliceblue;
}

.HM-button{
    position: absolute;
    top: 90%; /* Adjust the top position */
    left: 28%; /* Adjust the left position */
    transform: translate(-50%, -50%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
    border: 2px solid black;
    border-color: #2196F3;
    cursor: pointer;
    transition: all .5s ease-out;
    animation-duration: 1s;
    animation-name: fade-in-right;
    color: #0fbbff;
}

@keyframes fade-in-right{
    from{
        margin-left: 40%;
    }
    to{
        margin-left: 0%;
    }
}

.HM-button:hover {
    background: #2196F3;
    color: white;

  }


.slogan {
    position: absolute;
    left: 10%; /* Adjust left position */
    top: 50%; /* Align the text to the vertical center */
    transform: translateY(-50%); /* Center the text vertically */
    width: 40%; /* Set width for responsiveness */
    font-size: 30px;
    color: rgb(5, 16, 26);
    text-align: left; /* Align text to the left */
    margin-left: -200px;
}

.contact-email-bg{
    width: 1800px;
    height: 400px;
    opacity: 0.1%;
    margin-left: -275px;
}

.pera1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px ;
}

.contact-email{
    position: relative;
    margin-top: 100px; /* Adjust margin to create space below the navigation bar */
    margin-left: auto; /* Align to the center horizontally */
    margin-right: auto; /* Align to the center horizontally */
    width: 80%; /* Set width to a percentage for responsiveness */
    max-width: 1200px; /* Set a maximum width to prevent overflowing */
    padding-right: 40px; /* Shift the image towards the left */
    /* Remaining styles */
    height: 400px;
    opacity: 80%;
}

.ask-que{
    position: absolute;
    right: 10%; /* Adjust right position */
    top: 50%; /* Align the text to the vertical center */
    transform: translateY(-50%); /* Center the text vertically */
    width: 40%; /* Set width for responsiveness */
    font-size: 25px;
    color: rgb(30, 18, 18);
    text-align: left; /* Align text to the right */
    margin-right: -150px;

}

.email-head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

}

.e-mail{
    font-size: 50px;
    color: rgb(42, 37, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.service-buttons{
    position: absolute;
    top: 100%; /* Adjust top position */
    left: 33%; /* Adjust left position */
    transform: translate(-50%, -50%);
    display: flex; /* Use flexbox to arrange buttons horizontally */
    
}

.button-1{
    position: relative;
    top: 70%; /* Adjust the top position */
    left: 35%; /* Adjust the left position */
    transform: translate(-50%, -50%);
    border: 2px solid orange; /* Add orange border */
    border-width: 5px;
    border-radius: 10px;
    background-color: transparent; /* Set background to transparent */
    overflow: hidden; /* Hide overflow */
    width: 350px;
}
.button-2{
    position: relative;
    top: 70%; /* Adjust the top position */
    left: 43%; /* Adjust the left position */
    transform: translate(-50%, -50%);
    border: 2px solid orange; /* Add orange border */
    border-width: 5px;
    border-radius: 10px;
    background-color: transparent; /* Set background to transparent */
    overflow: hidden; /* Hide overflow */
    width: 350px;
}
.button-3{
    position: relative;
    top: 70%; /* Adjust the top position */
    left: 51%; /* Adjust the left position */
    transform: translate(-50%, -50%);
    border: 2px solid orange; /* Add orange border */
    border-width: 5px;
    border-radius: 10px;
    background-color: transparent; /* Set background to transparent */
    overflow: hidden; /* Hide overflow */
    width: 350px;
}

.button-1::after, .button-2::after, .button-3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(255, 189, 7);
    z-index: -1;
}
.button-1:hover::after, .button-2:hover::after, .button-3:hover::after {
    animation: fillOrange .7s forwards; /* Start the animation only on hover */
}
@keyframes fillOrange{
    from{
        height: 0;
    }
    to{
        height: 100%;
    }
}

.button-1 img, .button-2 img {
    margin-top: 50px;
    padding-bottom: 35px;
    width: 95px;
    height: 70px;
}
.button-3 img{
    margin-top: 50px;
    padding-bottom: 35px;
    width: 110px;
    height: 100px;
}

.button-1 h3, .button-2 h3 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.button-3 h3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.button-1 p, .button-2 p, .button-3 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 25px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-message{
    position: relative;
    margin-top: -60px; /* Adjust margin to create space below the navigation bar */
    margin-left: auto; /* Align to the center horizontally */
    margin-right: auto; /* Align to the center horizontally */
    width: 80%; /* Set width to a percentage for responsiveness */
    max-width: 1200px; /* Set a maximum width to prevent overflowing */
    padding-right: 40px; /* Shift the image towards the left */
    /* Remaining styles */
    border-radius: 10px;
    opacity: 80%;
    text-align: center; /* Center the content inside the container */
    display: flex; /* Use flexbox to center vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Arrange content vertically */
}

.contact-message img{
    width: 2000px;
    height: 500px;
    margin-left: 44px;
    border-radius: 10px;
    margin-top: 300px;
}

.con-img-text{
    position: absolute; /* Position the text absolutely relative to the container */
    padding: 10px 20px;
    font-size: 65px;
    text-align: left;  
    margin-left: -800px;
    top: 60%;
}

.custom-dropdown {
    position: absolute;
    
    margin-right: 20px;
    
  }
  
.options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: -20px;
    margin-left: 300px;
    border-radius: 20px;
    transition: background-color 0.6s ease;
    height: 50px;
}
  
.option {
    width: 100%;
    text-align: left;
    padding: 8px 0;
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.8s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: white;
    
}

.option img{
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 5px;

}
  
.option:hover {
    background-color: #00ff22;
}
  

.prev-btn {
    
    cursor: pointer;
    display: block;
    margin-top: 290px;
    transform: rotate(-90deg);
    margin-left: 800px;
    height: 100px;
    width: 40px;
    background-color: #2196F3;
    border-radius: 10px;
    border-width: 2px;
    border-color: #db8009;
    
}

.prev-btn:hover{
    background: -webkit-radial-gradient(right, #2196F3, #db8009);
}

.next-btn {
    cursor: pointer;
    height: 100px;
    width: 40px;
    display: block;
    transform: rotate(-90deg);
    margin-left: 800px;
    margin-bottom: -20px;
    background-color: #2196F3;
    border-radius: 10px;
    border-width: 2px;
    border-color: #db8009;
}

.next-btn:hover{
    background: -webkit-radial-gradient(left, #2196F3, #db8009);
}

.footer{
    width: 2000px; /* Set the width to match the width of footer-bg */
    height: auto; /* Let the height adjust proportionally */
    margin-top: 0px; /* Adjust as needed to place it below the previous content */
    margin-left: auto; /* Align to the center horizontally */
    margin-right: auto; /* Align to the center horizontally */
    display: flex; /* Use flexbox to center vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.footer-bg{
    width: 2000px; /* Set the width to match the width of the container */
    height: 600px; /* Let the height adjust proportionally */
    opacity: 100%;
    margin-left: -20px;
}


.footer-logo {
    position: absolute;
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    top: 3400px; /* Adjust as needed */

}

.footer-text{
    position: absolute;
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    top: 3500px; /* Adjust as needed */
    text-align: center;
}

.footer-mail{
    font-size: 40px;
    background: linear-gradient(to right, #419ff7, 
                    #f1a415); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
}

.footer-addr{
    font-size: 25px;
}